

/* ===== MEDIA QUERIES=====*/
@media screen and (max-width: 320px){
    .home{
        row-gap: 2rem;

        &__img{
            width: 200px;
        }
    }
}

@media screen and (min-width: 576px){
    .home{
        padding: 4rem 0 2rem;
        &__social{
            padding-top: 0;
            padding-bottom: 2.5rem;
            flex-direction: row;
            align-self: flex-end;

            &-icon{
                margin-bottom: 0;
                margin-right: $mb-4;
            }
        }
        &__img{
            width: 300px;
            bottom: 25%;
        }
    }

    .about__container{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        text-align: initial;
    }

    .skills__container{
        grid-template-columns: .7fr;
        justify-content: center;
        column-gap: 1rem;
    }

    .work__container{
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
        padding-top: 2rem;
    }

    .contact{
        &__form{
            width: 360px;
            padding-top: 2rem ;
        }
        &__container{
            justify-items: center;
        }
    }
}

@media screen and (min-width: 768px){
    body{
        margin: 0;
    }
    .section{
        padding-top: 4rem;
        padding-bottom: 3rem;
    }

    .section-title{
        margin-bottom: $mb-6;

        &::after{
            width: 80px;
            top: 3rem;
        }
    }

    .nav{
        height: calc($header-height + 1.5rem);
        &__list{
            display: flex;
            padding-top: 0;
        }
        &__item{
            margin-left: $mb-6;
            margin-bottom: 0;
        }
        &__toggle{
            display: none;
        }
        &__link{
            color: $second-color;
        }
    }
    .home{
        padding: 8rem 0 2rem;
        
        &__img{
            width: 400px;
            bottom: 10%;
        }
    }

    .about{
        &__container{
           padding-top: 2rem;
        }
        &__img{
            & img{
                width: 300px;
            }
        }
    }
    .skills__container{
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
        align-items: center;
        text-align: initial;
    }
    .work__container{
        grid-template-columns: repeat(3,1fr);
        column-gap: 2rem;
    }
}

@media screen and (min-width: 992px){
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
    .home{
        padding: 10rem 0 2rem;

        &__img{
            width: 450px;
        }
    }
}
